.card{
    width: 215px;
    height: auto;
    background-color: rgb(211, 219, 225);
    box-shadow: 10px 10px 10px #241f20;
     margin: 20px;
     /* padding :0; */
     text-align: left;
}
img{
    width: 215px;
    height:300px;
}
p{
    margin:5px;
    font-family:  cursive;
}