
.body{
  text-align: center;
  margin: 0px;
  min-height: 100vh;
  background-color: rgb(44, 111, 244);
}
.firstview{
  width: 80%;
  margin: auto;
  background-color:rgba(0,0, 0,0.6);
}
.searchContainer{
  /* background-color: white; */
  /* background-color:rgba(255,255, 255,0.8);
   */
   background-image: linear-gradient(to bottom right ,white,rgb(90, 166, 237),white,rgb(90, 166, 237));
  text-align: center;
  width:90% ;
  height: 300px;
  margin: auto;
  padding-top: 10px;
  
  border-radius: 20px;
  box-shadow: 0px 0px 10px #474243;


  
}
form{
  text-align: center;
  /* width: 80%; */
  height:auto;
  /* margin: auto; */
  padding: 10px;
  /* border: black solid 2px; */
  /* border-radius: 20px; */
  box-shadow: 0px 0px 10px #474243;

}
form input{
  padding: 10px 5px;
  margin: 20px;
  border-radius: 5px;
  background-color: transparent;
}

.showsContainer{
  
  /* background-color:white;/ */
  text-align: center;
  width:90% ;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
  /* box-shadow: 0px 0px 10px #474243; */
  /* border-radius: 20px; */
  /* background-color:rgba(0,0, 0,0.6); */
  display: flex;
  flex-wrap:wrap;
  /* justify-content: flex-start; */
  justify-content: space-around;
  text-align: center;
  
  


}